/* calendar styles */
#today {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.calendar { padding: 1% 10% 2.5% 10%; }
.day { display: inline-block }
.day:hover { background-color: #C1E1C1; }
.add-icon {
    opacity: 50%;
    height: 30px;
    width: auto;
    display: flex;
}
.day:hover .add-icon { display: flex !important; }

/* footer styles */
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.page-footer { grid-row: 3; }
.footer-menu {
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 16px;
}
.footer-name {
    opacity: 50%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}