/* calendar styles */
.day { display:inline-block; }
.day:hover { background-color: #C1E1C1; }
#today {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.add-icon {
    opacity: 50%;
    height: 30px;
    width: auto;
    display: flex;
}
.day:hover .add-icon { display: flex !important; }
.calendar {
    padding-top: 1%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
}

/* footer styles */
.footer-menu {
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 16px;
}
.footer-name {
    opacity: 50%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}