/* header style */
#main-header {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* meal list style */
#meal-list {
  margin-top: 1%;
  border-top: 1px solid #ccc;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutrition-info {
  margin: auto;
  width: 50%;
}

.search-section {
  text-align: center;
  padding: 2% 15% 0 15%;
}

#meal-list {
  padding-top: 4%;
}

.save-btn {
  margin-top: 3%;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  background: linear-gradient(to bottom, #F0F0F0, #D9D9D9);
  color: #424242;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-btn:hover {
  background: linear-gradient(to bottom, #D9D9D9, #F0F0F0);
  border: 1px solid #D9D9D9;
}

/* footer styles */
html, body {
  height: 100%;
  margin: 0;
}

.page-body {
  padding-bottom: 10%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-footer {
  grid-row: 3;
}

.footer-menu {
  padding-left: 40%;
  padding-right: 40%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-content: space-around;
  font-size: 16px;
}

.footer-name {
  opacity: 50%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}