.quizHeading {
    text-align: center;
    padding: 20px;
}

.form-floating {
    margin: 8px;
}

h4 {
    text-align: center;
}

.nutritionQuestion, .mealQuestion, .allergiesQuestion {
    margin-top: 40px;
}

.nutritionButton, .mealButton, .allergiesButton {
    text-align: center;
}

.jumbotron {
    background-color: lightblue;
    text-align: center;
    padding: 25px;
}