.day {display:inline-block;}

.calendar {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.footer-menu {
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 16px;
}
.footer-name {
    opacity: 50%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}